@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AestheticShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AestheticShop.styles.css" asp-append-version="true" />
</head>
<body>
  
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                @RenderBody()
            </div>
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> *@


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="~/admin/img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	<title>Admin</title>

	<link href="~/admin/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand">
					<span class="align-middle">Admin</span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Tables
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Products">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Products</span>
						</a>
					</li>
					<li class="sidebar-item active">
						<a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Categories">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Categories</span>
						</a>
					</li>
					<li class="sidebar-item active">
						<a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Tags">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Tags</span>
						</a>
					</li>
					<li class="sidebar-item active">
						<a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="ProductTags">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">ProductTags</span>
						</a>
					</li>
				</ul>

				
			</div>
		</nav>
		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>
	
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>